<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="wrapper">
    <header>
        <h1>House of Gainz Macro Calculator</h1>
    </header>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/login">Sign In</a>
            <a class="active" href="/MacroCalc">Macro Calculator</a>
<!--            <a href="/workoutTracker">Workout Tracker</a>-->
<!--            <a href="/macroTracker">Macro Tracker</a>-->

<!--            &lt;!&ndash; Wellness Dropdown Menu &ndash;&gt;-->
<!--            <div class="dropdown">-->
<!--                <a> Track Your Results</a>-->
<!--                <div class="dropdown-content">-->
<!--                    <a href="/workoutresult">Exercises</a>-->
<!--                    <a href="/cardioresult">Cardio</a>-->
<!--                    <a href="/macroresult">Macros</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </nav>
    <img src="images/websitebanner.jpg" alt="weight" width="100%">
    <div><div id="home"></div>

        <div>
            <h2> What is The House of Gainz?</h2>
            <blockquote>The House of Gainz is a fitness tracking website that allows users to calculate
            their different levels of fitness. For someone that is first joining the fitness world seeing words like
            <b>Macros</b> or <b>Cutting and Bulking</b> may feel a bit intimidating. This website will allow
                us to walk you through the process of successfully reaching your fitness goals!
            </blockquote>
            <br>
            <img src="images/dancingweights.gif" alt="weight" height="100" width="100">
            <h2>Learning About Macros</h2>


            <div class="col-container">

                <div class="col">
            <h3>Protein</h3>
            <p>Protein is known as the building blocks of the body. Protein is used to build and
            repair muscle tissue. Protein is used to give your body extra energy when needed.
            </p>
                <h4>Some examples of good protein include</h4>
                <ul>
                    <li>Seafood</li>
                    <li>Chicken</li>
                    <li>Lean beef</li>
                    <li>Eggs </li>
                </ul>
                </div>

                <div class="col">
            <h3>Fat</h3>
            <p>Fats give you energy as well as helping the body absorb and digest the vitamins that it needs.
                Fatty acids help the body function, but you must make sure that you consume them. <b>BUT,</b> make
                sure to stay away from certain fats that are bad for your health such as <b>Saturated Fats</b>
                and <b>Trans Fats</b>. These fats are in food like pizza, burgers, cookies and other snack food.
            </p>
            <h4>Some examples of good fat include</h4>
            <ul>
                <li>Seafood</li>
                <li>Eggs</li>
                <li>Avocaodos</li>
                <li>Almonds </li>
            </ul>
                </div>

                <div class="col">
            <h3>Carbs</h3>
            <p>Most people <i>shiver</i> when they hear the word Carbs. Carbs are the main source of energy that
                the body needs in order to survive. Carbs also supply fiber which can help your body prevent
                stomach problems as well as lower cholesterol and blood sugar. Be careful in which carbs you
                consume though. <b>Simple Carbs</b> often are loaded in sugar and your body doesn't process as well.
                <b>Complex Carbs</b> are healthier for your body and help your burn energy quicker.
            </p>
            <h4>Some examples of good carbs include</h4>
            <ul>
                <li>Rice</li>
                <li>Potatoes</li>
                <li>Vegetables</li>
                <li>Fruits </li>
            </ul>
                </div>
            </div>

        <br>
            <img src="images/Macros.jpg" alt="weight" height="300" width="500">
        <br>
        <h2>Cutting vs. Bulking</h2>
        <div class="col-container">

            <div class="col">
                <h3>Cutting</h3>
                <p>
                    <b>Cutting</b> is the reduction of body fat and you will need to eat less calories
                    in a day than while you are burning while lifting. We call this a <i>caloric deficit.</i>
                    During this time you will need to increase protein to preserve muscle mass. Your workouts can still be
                    heavy, but should also involve some form of cardio as well.
                </p>

            </div>

            <div class="col">
                <h3>Bulking</h3>
                <p>
                    <b>Bulking</b> means to gain weight by increasing muscle mass. You will need
                    to be able to eat more calories a day than you are burning while lifting.
                    We call this a <i>caloric surplus.</i> During this time you will want to eat
                    extra <i>healthy</i> calories, while challenging yourself by lifting heavier.
                </p>

            </div>
        </div>
        </div>
        <br>
        <img src="images/BulkCut.jpg" alt="weight" height="300" width="500">
        <br>
        <h2>Low Intensity Steady State Cardio vs. High Intensity Interval Cardio</h2>
        <div class="col-container">

            <div class="col">
                <h3>Low Intensity Steady State Cardio</h3>
                <p>
                    <b>LISS</b> involves repetitions of the same movements for long periods of time. This cardio
                form must allow your heart rate to be at a moderate level during the duration of the workout. Some examples
                include walking, jogging, and aerobics.

            </div>

            <div class="col">
                <h3>High Intensity Interval Cardio</h3>
                <p>
                    <b>HIIT</b> involves performing high-intensity activities for a short period of time, followed
                    by periods of low-intensity activities in a cycle. These activities can be completed in just
                    20 minutes! Some of these activities include sprinting, circuit training or Tabata workouts.
                </p>

            </div>
        </div>
        <br>
        <img src="images/treadmil.gif" alt="weight" height="200" width="400">
        <br>
        <br>
        <br>
    </div>
    <br>




        </main>
        <footer>
            Copyright &copy; 2020 House of Gainz
            <a href ="mailto: maiselkelly@gmail.com">maiselkelly@gmail.com</a>
        </footer>
</body>
</html>
