<!DOCTYPE html>
<html>
<head>
    <title>Your Results:</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="wrapper">
    <header>
        <h1>Your current House of Gainz Results</h1>
    </header>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a  href="/MacroCalc">Macro Calculator</a>
<!--            <a href="/workoutTracker">Workout Tracker</a>-->
<!--            <a class="active" href="/macroTracker">Macro Tracker</a>-->

<!--            <div class="dropdown">-->
<!--                <a> Track Your Results</a>-->
<!--                <div class="dropdown-content">-->
<!--                    <a href="/workoutresult">Exercises</a>-->
<!--                    <a href="/cardioresult">Cardio</a>-->
<!--                    <a href="/macroresult">Macros</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>&nbsp;
    </nav>
    <img src="images/websitebanner.jpg" alt="weight" width="100%">
    <div><div id="home"></div>
        <main>

            <h2>Welcome Back Fit Fam</h2>
            <h4>The House of Gainz is read to help you chase your progress today!</h4>
            <form action="/submitlogin" method="post">
                <h3>Ready to Chase Those Gainz!</h3>
                <div class="login-form">
                        <input type="email" name="emailSelection" id="emailSelection"  placeholder="Enter Email" required>
                        <br>
                        <input type="password" name="passwordSelection" id="passwordSelection" placeholder="Enter Password" required>
                        <br>
                        <input type="submit" value="Let's Do It!">
                </div>
            </form>


            <h3>New Member?  <a href="/register"> Register Here </a></h3>

            <br>
            <br>
            <br>


        </main>

        <footer>
            Copyright &copy; 2020 House of Gainz
            <a href ="mailto: maiselkelly@gmail.com">maiselkelly@gmail.com</a>
        </footer>
</body>
</html>
