<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="wrapper">
  <header>
    <h1>House of Gainz Macro Calculator</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/"> About</a></li>
      <li><a class="active" href="/MacroCalc">Macro Calculator</a> &nbsp;</li>
      <li><a href="/workoutTracker">Workout Tracker</a> </li> &nbsp;
      <li><a href="/macroTracker">Macro Tracker</a></li>  &nbsp;

    </ul>
  </nav>
    <img src="images/websitebanner.jpg" alt="weight" width="100%">
  <div><div id="home"></div>

      <main>
        <h3>Please enter your weight, height and age below.</h3>
        <h4>Then select if you would like to cut, maintain or bulk.</h4>
        <form name="formid" method="post"
              action="/">
          <label for="weightSelection">Weight in lbs:</label>
          <input type="number" min="0" step="1" pattern="\d+" name="weightSelection" id="weightSelection" required>
          <br>
          <br>
          <label for="heightSelection">Height in inches:</label>
          <input type="number" min="0" step="1" pattern="\d+" name="heightSelection" id="heightSelection" required>
          <br>
          <br>
          <label for="ageSelection">Age:</label>
          <input type="number" min="0" step="1" pattern="\d+" name="ageSelection" id="ageSelection" required>
          <br>
          <br>
          <label for="genderSelection">Gender:</label>
          <br>
          <input type="radio" name="radio" id="radio" value="man" required/> Male
          <input type="radio" name="radio" id="radio" value ="woman" required/> Female <br/>
          <br>
          <br>
          <label for="bulkcutmain">Bulking, Cutting or Maintaining:</label>
          <select name="ddlselect" size="1" name="bulkcutmain" id="bulkcutmain">
            <option value="Cut">Cutting</option>
            <option value="Maintain">Maintaining</option>
            <option value="Bulk">Bulking</option>
          </select>
          <br>
          <br>
          <input type="submit" value="Submit Info Here" id="submit1">
          <br>
          <br>
        </form>
        <br>
        <br>
      </main>
    <footer>
      Copyright &copy; 2020 House of Gainz
      <a href ="mailto: maiselkelly@gmail.com">maiselkelly@gmail.com</a>
    </footer>
  </body>
</html>
