<!DOCTYPE html>
<html>
<head>
    <title>Your Results:</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="wrapper">
    <header>
        <h1>Your current House of Gainz Results</h1>
    </header>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a  href="/MacroCalc">Macro Calculator</a>
<!--            <a href="/workoutTracker">Workout Tracker</a>-->
<!--            <a class="active" href="/macroTracker">Macro Tracker</a>-->

<!--            <div class="dropdown">-->
<!--                <a> Track Your Results</a>-->
<!--                <div class="dropdown-content">-->
<!--                    <a href="/workoutresult">Exercises</a>-->
<!--                    <a href="/cardioresult">Cardio</a>-->
<!--                    <a href="/macroresult">Macros</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>&nbsp;
    </nav>
    <img src="images/websitebanner.jpg" alt="weight" width="100%">
    <div><div id="home"></div>
        <main>

            <h2>Why Join the House of Gainz?</h2>
            <blockquote>The House of Gainz is a fitness tracking website that allows users to calculate
                their different levels of fitness. For someone that is first joining the fitness world seeing words like
                <b>Macros</b> or <b>Cutting and Bulking</b> may feel a bit intimidating. This website will allow
                us to walk you through the process of successfully reaching your fitness goals!
            </blockquote>
            <br>
            <img src="images/dancingweights.gif" alt="weight" height="100" width="100">
            <br>
                 <form action="/submitregister" method="post">
                    <h3>Start Your Fitness Journey Here</h3>
                    <div class="login-form">
                            <input type ="text" id="fnameSelection" name="fnameSelection" placeholder="Enter First Name" required>
                            <br>
                            <input type ="text" id="lnameSelection" name="lnameSelection" placeholder="Enter Last Name" required>
                             <br>
                            <input type="email" name="emailSelection" id="emailSelection"  placeholder="Enter Email" required>
                            <br>
                            <input type="password" name="passwordSelection" id="passwordSelection" placeholder="Enter Password" required>
                            <br>
                            <input type="submit" value="Let's Do It!">
                    </div>
                 </form>
            <br>
           <h3>Back to the <a href="/login"> Login </a> Page</h3>
            <br>
            <br>

        </main>

        <footer>
            Copyright &copy; 2020 House of Gainz
            <a href ="mailto: maiselkelly@gmail.com">maiselkelly@gmail.com</a>
        </footer>
</body>
</html>
