<!DOCTYPE html>
<html>
  <head>
    <title>Your Results:</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="wrapper">
  <header>
    <h1>House of Gainz Workout Tracker</h1>
  </header>
  <nav>

    <div class="navbar">
      <a href="/home">Home</a>
      <a href="/MacroCalc">Macro Calculator</a>
      <a class="active" href="/workoutTracker">Workout Tracker</a>
      <a href="/macroTracker">Macro Tracker</a>

      <!-- Wellness Dropdown Menu -->
      <div class="dropdown">
        <a> Track Your Results</a>
        <div class="dropdown-content">
          <a href="/workoutresult">Exercises</a>
          <a href="/cardioresult">Cardio</a>
          <a href="/macroresult">Macros</a>
        </div>
      </div>
    </div>

  </nav>
  <img src="images/websitebanner.jpg" alt="weight" width="100%">
  <div><div id="home"></div>
  <main>

    <h3>Track Your Workouts Here!</h3>
    <form name="formid" method="post"
          action="/submitworkout">

      <p><b>Workout</b></p>
      <label for="dateSelection">Today's Date:</label>
      <input type="date" id="dateSelection" name="dateSelection" required>
      <br>
      <br>
      <label for="workoutSelection">Enter your workout:</label>
      <input type="text" name="workoutSelection" id="workoutSelection" required>
      <br>
      <br>
      <label for="setSelection">Enter your number of sets:</label>
      <input type="number" min="0" step="1" pattern="\d+" name="setSelection" id="setSelection" required>
      <br>
      <br>
      <label for="repSelection">Enter your number of reps:</label>
      <input type="number" min="0" step="1" pattern="\d+" name="repSelection" id="repSelection" required>
      <br>
      <br>
      <input type="submit" value="Add Another Workout" id="submit1">
    </form>

      <form name="formid" method="post" action="/submitcardio">
      <p><b>Cardio</b></p>
        <label for="dateSelection">Today's Date:</label>
        <input type="date" id="dateSelection" name="dateSelection" required>
        <br>
        <br>
      <label for="cardioSelection">What cardio did you complete?:</label>
      <input type="text" name="cardioSelection" id="cardioSelection" required>
      <br>
      <br>
      <label for="timeSelection">Enter your time in minutes:</label>
      <input type="number" min="0" step="1" pattern="\d+" name="timeSelection" id="timeSelection" required>
      <br>
      <br>
      <input type="submit" value="Submit here!" id="submit3">
      <br>
      <br>
    </form>

    <br>
    <br>


  </main>
    <footer>
      Copyright &copy; 2020 House of Gainz
      <a href ="mailto: maiselkelly@gmail.com">maiselkelly@gmail.com</a>
    </footer>
  </body>
</html>
